{% if user.username == profile.username %}
<a href="/"><button>Home</button></a>
<br>
<br>
<h3>Following: {{user.following.count}}</h3>
<h3>Tweets: {{tweets.count}}</h3>
{% else %}
<a href="/"><button>Home</button></a>
{% if profile in user_following %}
<a href="/unfollow/{{profile.id}}/"><button>Unfollow -</button></a>
{% else %}
<a href="/follow/{{profile.id}}/"><button>Follow +</button></a>
{% endif %}
<br>
<br>
<h3>Following: {{profile.following.count}}</h3>
<h3>Tweets: {{tweets.count}}</h3>
{% endif %}
<h1>{{profile.username}}'s Profile</h1>
<h2>Tweets</h2>
{% for tweet in tweets %}
<ul>
    <h3>@{{tweet.twitter_user_app}}<br>{{tweet.tweet}}</h3>
</ul>
{% endfor %}
<br>
<br>
{% if user.is_authenticated %}
<a href="/logout/"><button>Logout</button></a>
{% endif %}